@page "/"

<div style="display:flex;flex-direction:column;gap:16px">
    <div style="height:500px;border:1px solid #d0d7de"></div>
    <div style="border:1px solid #d0d7de;display:flex;flex-wrap:wrap;justify-content:center;;gap:16px">
        <div style="border:1px solid #d0d7de;height:240px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
        <div style="border:1px solid #d0d7de;height:240px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
        <div style="border:1px solid #d0d7de;height:240px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
        <div style="border:1px solid #d0d7de;height:240px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>

    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Акции</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;">
            <div style="border:1px solid #d0d7de;height:400px;width:32%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:32%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:32%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>

        </div>
    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Нові надходження</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;">
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:400px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>

        </div>
    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Чому саме ми</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;justify-content:center;">
            <div style="height:150px;width:350px;display:flex;flex-direction:row;gap:8px">
                <div><img src="image/home-why-05.png" alt="" /></div>
                <div>
                    <p style="font-weight:bold;font-size:15px;margin:0">Ассортимент</p>
                    <p style="font-size:15px;line-height:1.2">
                        У нашому магазині представлено понад 100 різноманітних кольорів для вашого вибору
                    </p>
                </div>
            </div>
            <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;">
                <div><img src="image/home-why-03.png" /></div>
                <div>
                    <p>Якість</p>
                    <p>
                        Компанія Tirotex пройшла сертифікацію за стандартом OEKO-TEX® Standard 100, гарантуючи безпеку та екологічність продукції
                    </p>
                </div>
            </div> <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;">
                <div><img src="image/home-why-02.png" /></div>
                <div>
                    <p>Вартість</p>
                    <p>
                        Ми пропонуємо найнижчі роздрібні ціни на ринку серед конкурентів.
                    </p>
                </div>
            </div> <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;">
                <div><img src="image/home-why-01.png" /></div>
                <div>
                    <p>
                        Швидка доставка
                    </p>
                    <p>
                        Доставка по Україні Новою Поштою протягом 1-3 днів
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="border:1px solid #d0d7de;display:flex;justify-content:center">

        <div style="display:flex;flex-direction:column">
            <div>
                Залишились питання
            </div>
            <div>
                Залишайте свої дані і наш менеджер зв'яжеться з вами
            </div>
            <div style="display:flex;flex-direction:row">
                <input />
                <input />
            </div>
            <div style="display:flex;flex-direction:row">
                <input />
                <input />
            </div>
            <div>
                <input />
            </div>
            <div>
                <button></button> <a></a>
            </div>
        </div>
    </div>
    <div style="border:1px solid #d0d7de">

        <div style="display:flex;flex-wrap:wrap;gap:16px;">
            <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
            <div style="border:1px solid #d0d7de;height:150px;width:49%;display:flex;justify-content:center;align-items:center">ТЕКСТ</div>
        </div>
    </div>
</div>

