@page "/"
@using Client_BlazorServer.Components.Pages.Components

<div style="display:flex;flex-direction:column;gap:16px">
    <Main />
    <div style="border:1px solid #d0d7de;display:flex;flex-wrap:wrap;justify-content:center;;gap:16px">
        <Example />
        <Example />
        <Example />
        <Example />
    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Акции</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;">
            <ProductStock />
            <ProductStock />
            <ProductStock />
        </div>
    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Нові надходження</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;">
            <ProductNew />
            <ProductNew />
            <ProductNew />
            <ProductNew />
            <ProductNew />
            <ProductNew />

        </div>
    </div>
    <div style="border:1px solid #d0d7de">
        <div style="display:flex;justify-content:center;">
            <h1>Чому саме ми</h1>
        </div>
        <div style="display:flex;flex-wrap:wrap;gap:16px;justify-content:center;">
            <WeAreHave Image="image/home-why-05.png"
                       Title="Ассортимент"
                       Description="У нашому магазині представлено понад 100 різноманітних кольорів для вашого вибору" />
            <WeAreHave Image="image/home-why-03.png"
                       Title="Якість"
                       Description="Компанія Tirotex пройшла сертифікацію за стандартом OEKO-TEX® Standard 100, гарантуючи безпеку та екологічність продукції" />
            <WeAreHave Image="image/home-why-02.png"
                       Title="Вартість"
                       Description="Ми пропонуємо найнижчі роздрібні ціни на ринку серед конкурентів." />
            <WeAreHave Image="image/home-why-01.png"
                       Title=" Швидка доставка"
                       Description="Доставка по Україні Новою Поштою протягом 1-3 днів" />
        </div>
    </div>
    <div style="border:1px solid #d0d7de;display:flex;justify-content:center">

        <Help />
    </div>
    <div style="border:1px solid #d0d7de">
        <Courusel />
    </div>
</div>

