@page "/"

<div style="display:flex;flex-direction:column;gap:4px">
    <div style="height:500px;border:1px solid #d0d7de"></div>
    <div style="height:500px;border:1px solid #d0d7de"></div>
    <div style="height:500px;border:1px solid #d0d7de"></div>
    <div style="height:500px;border:1px solid #d0d7de"></div>
    <div style="height:500px;border:1px solid #d0d7de"></div>
</div>

